// 用于重写默认颜色常量，或者设置新的 stylus 颜色常量
// colors
$accentColor = #82E898;
$textColor = #2a363b;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;
$badgeTipColor = #62A2DE;
$badgeWarningColor = #EDB164
$badgeErrorColor = #E75F59